@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Sample1</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
        html, body, #content-wrapper {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.10.5/css/jquery.dataTables.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.10.5/jquery.dataTables.min.js"></script>

    <script>

        $(document).ready(function () {
            var table = $('#example').DataTable({
                "ajax": {
                    "url": "GetData",
                    "data": { num: 20 },
                    "type": "POST"
                    //"type": "GET"
                },
                "columns": [
                    { "data": "Engine" },
                    { "data": "Browser" },
                    { "data": "Platform" },
                    { "data": "Version", "class": "center" },
                    { "data": "Grade", "class": "center" },
                    {
                        "targets": -1,
                        "data": null,   //如果是資料庫來源,這裡可以放id
                        "orderable": false,
                        "searchable": false,
                        "defaultContent": "<button class='del'>刪除</button>"
                    },
                    {
                        "targets": -1,
                        "data": null,   //如果是資料庫來源,這裡可以放id
                        "orderable": false,
                        "searchable": false,
                        "defaultContent": "<button class='edit'>編輯</button>"
                    }
                ]
            });

            $('#example tbody').on('click', 'button.del', function () {
                var data = table.row($(this).parents('tr')).data();
                $.ajax({
                    url: "DelData",
                    data: {
                        id: data.Engine
                    }
                }).success(function (data) {
                    table.ajax.reload();
                    //table.ajax.reload(null, false); //頁數不會回第一頁
                    alert(data.msg);
                });
            });

            $('#example tbody').on('click', 'button.edit', function () {
                var data = table.row($(this).parents('tr')).data();
                $('#popupModal .modal-title').text('編輯');
                $('#popupModal input[name="Engine"]')[0].value = data.Engine;
                $('#popupModal input[name="Browser"]')[0].value = data.Browser;
                $('#popupModal input[name="Platform"]')[0].value = data.Platform;
                $('#popupModal input[name="Version"]')[0].value = data.Version;
                $('#popupModal input[name="Grade"]')[0].value = data.Grade;

                $('#popupModal').modal({ show: true });
            });

            $('#add').on('click', function () {
                $('#popupModal .modal-title').text('新增');
                $('#popupModal input[name="Engine"]')[0].value = '';
                $('#popupModal input[name="Browser"]')[0].value = '';
                $('#popupModal input[name="Platform"]')[0].value = '';
                $('#popupModal input[name="Version"]')[0].value = '';
                $('#popupModal input[name="Grade"]')[0].value = '';

                $('#popupModal').modal({ show: true });
            });

            $('#send').on('click', function () {
                var url = 'CreateData';
                if ($('#popupModal .modal-title').text() == '編輯') {
                    url = 'EditData';
                }

                $.ajax({
                    url: url,
                    data: {
                        Engine: $('#popupModal input[name="Engine"]')[0].value,
                        Browser: $('#popupModal input[name="Browser"]')[0].value,
                        Platform: $('#popupModal input[name="Platform"]')[0].value,
                        Version: $('#popupModal input[name="Version"]')[0].value,
                        Grade: $('#popupModal input[name="Grade"]')[0].value
                    }
                }).success(function (data) {
                    table.ajax.reload();
                    //table.ajax.reload(null, false); //頁數不會回第一頁
                    alert(data.msg);
                    $('#popupModal').modal('hide');
                });

            });

        });

    </script>
</head>
<body>
    <div id="content-wrapper">
        <button id="add">新增</button>
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="example"></table>
    </div>

    <div id="popupModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3 class="modal-title"></h3>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="input-demo1" class="col-sm-2 control-label">Engine</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="input-demo1" name="Engine">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-demo2" class="col-sm-2 control-label">Browser</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="input-demo2" name="Browser">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-demo3" class="col-sm-2 control-label">Platform</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="input-demo3" name="Platform">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-demo4" class="col-sm-2 control-label">Version</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="input-demo4" name="Version">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input-demo5" class="col-sm-2 control-label">Grade</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="input-demo5" name="Grade">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button id="send" class="btn btn-default">送出</button>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>*@
            </div>
        </div>
    </div>

</body>
</html>