@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Sample1</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
        html, body, #content-wrapper {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.10.5/css/jquery.dataTables.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- DataTables -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.10.5/jquery.dataTables.min.js"></script>

    <script>

        $(document).ready(function () {
            $('#example').dataTable({
                "ajax": {
                            "url": "GetData",
                            "data": { num: 20 },
                            "type": "POST"
                            //"type": "GET"
                        },
                "columns": [
                        { "data": "Engine" },
                        { "data": "Browser" },
                        { "data": "Platform" },
                        { "data": "Version", "class": "center" },
                        { "data": "Grade", "class": "center" }
                ]
            });
        });

    </script>
</head>
<body>
    <div id="content-wrapper">
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="example"></table>
    </div>
</body>
</html>


